@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><img src="https://www.syfy.com/sites/syfy/files/styles/1200x680_hero/public/2020/02/stl149580.jpg" alt="Wolverine"></p>
</div>

